@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* মেনু আইটেমের হোভার এফেক্ট */
.nav-item {
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #a855f7; /* Purple color on hover */
}

/* মেনুর নিচে পার্পল লাইন এফেক্ট */
.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #a855f7;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}
